.header {
	min-height: 688px;
	width: 100%;
	background-color: $blue;

	h1 {
		font-family: 'Lexend Zetta', sans-serif;
		font-size: 40px;
		line-height: 48px;
		color: $white;
		margin-right: 494px;
		text-transform: uppercase;
		font-weight: 400;
	}

	button {
		font-family: 'Lexend Zetta', sans-serif;
		font-size: 16px;
		color: $white;
		cursor: pointer;
		height: 48px;
		width: 154px;
		border: 1px solid $white;
		background-color: $blue;
		padding: 0;

		&:hover {
			background-color: $white;
			border: 1px solid $blue;
			color: $blue;
			transition: 1s;
		}
	}
}

.header-wrapper {
	padding: 16px 135px 0;
	display: flex;
	align-items: center;
}

.list-link {
	display: flex;
	flex-wrap: wrap;

	a {
		color: $white;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		margin-right: 59px;

		&:hover {
			color: $yellow;
			transition: 1s;
		}
	}
}

.header-wrapper-title {
	text-align: center;
	padding: 126px 245px 307px;

	h2 {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		color: $white;
		margin-bottom: 19px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	p {
		font-family: 'Lexend Zetta', sans-serif;
		font-style: normal;
		font-size: 56px;
		color: $white;
		min-height: 100%;
		box-sizing: border-box;
	}
}