@charset "UTF-8";
/* цвета */
/* шрифты */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.page {
  width: 1440px;
  min-height: 8432px;
  margin: 0 auto;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #333333;
}

::-webkit-scrollbar-thumb {
  background-color: #6347F9;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  min-height: 688px;
  width: 100%;
  background-color: #6347F9;
}
.header h1 {
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-right: 494px;
  text-transform: uppercase;
  font-weight: 400;
}
.header button {
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  height: 48px;
  width: 154px;
  border: 1px solid #ffffff;
  background-color: #6347F9;
  padding: 0;
}
.header button:hover {
  background-color: #ffffff;
  border: 1px solid #6347F9;
  color: #6347F9;
  transition: 1s;
}

.header-wrapper {
  padding: 16px 135px 0;
  display: flex;
  align-items: center;
}

.list-link {
  display: flex;
  flex-wrap: wrap;
}
.list-link a {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-right: 59px;
}
.list-link a:hover {
  color: yellow;
  transition: 1s;
}

.header-wrapper-title {
  text-align: center;
  padding: 126px 245px 307px;
}
.header-wrapper-title h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.header-wrapper-title p {
  font-family: 'Lexend Zetta', sans-serif;
  font-style: normal;
  font-size: 56px;
  color: #ffffff;
  min-height: 100%;
  box-sizing: border-box;
}

.section-photo {
  position: relative;
}

.wrapper-photos {
  display: flex;
  justify-content: space-between;
}

.photo-grid {
  display: grid;
  grid-template-columns: 255px;
  grid-template-rows: max-content min-content min-content;
  grid-row-gap: 6px;
}
.photo-grid:nth-child(1) {
  position: absolute;
  top: -140px;
  left: 0;
}
.photo-grid:nth-child(2) {
  position: absolute;
  top: -200px;
  left: 290px;
}
.photo-grid.photo-grid:nth-child(3) {
  position: absolute;
  top: -180px;
  left: 590px;
}
.photo-grid.photo-grid:nth-child(4) {
  position: absolute;
  top: -230px;
  right: 295px;
}
.photo-grid.photo-grid:nth-child(5) {
  position: absolute;
  top: -140px;
  right: 0;
}
.photo-grid p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.photo-grid :nth-child(2) {
  color: #000000;
}
.photo-grid :nth-child(3) {
  color: #aaaaaa;
}

.section-about {
  padding: 463px 135px 208px 127px;
  display: flex;
}

.about-container {
  position: relative;
}
.about-container img {
  position: relative;
  top: -117px;
  left: -150px;
  z-index: 1;
}
.about-container button {
  border: 0;
  background-color: #fe7354;
  width: 154px;
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 32px;
  margin-left: 8px;
}
.about-container button:hover {
  background-color: #ffffff;
  color: #fe7354;
  transition: 1s;
}
.about-container p {
  font-style: normal;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.about-container :nth-child(1) {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 15px 0 31px 8px;
}
.about-container h3 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  letter-spacing: -12px;
  margin-bottom: 31px;
}
.about-container :nth-child(3) {
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  width: 470px;
  margin-left: 8px;
  margin-bottom: 47px;
}
.about-container b {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-left: 93px;
  margin-bottom: 3px;
}
.about-container :nth-child(5) {
  font-size: 16px;
  line-height: 32px;
  color: #aaaaaa;
  width: 370px;
  margin-left: 93px;
}

.about-img {
  margin-left: 162px;
  position: relative;
}
.about-img img:nth-child(2) {
  position: absolute;
  bottom: 100px;
  left: -60px;
  z-index: 1;
}

.about-img-author {
  width: 270px;
  height: 400px;
  box-sizing: border-box;
  background-color: #fe7354;
  position: absolute;
  top: 96px;
  left: -100px;
  padding: 40px 32px 20px;
}
.about-img-author p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}
.about-img-author p:nth-child(1) {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  width: 206px;
  margin-bottom: 12px;
}
.about-img-author p:nth-child(2) {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
}

.section-offers {
  background-color: rgba(254, 114, 84, 0.08);
  width: 1440px;
  min-height: 944px;
  padding-top: 75px;
}

.section-offers__title {
  text-align: center;
}
.section-offers__title p {
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #333333;
  margin-bottom: 34px;
}
.section-offers__title h3 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #000000;
  width: 573px;
  display: inline-block;
  margin-bottom: 67px;
}

.wrapper-offers {
  display: flex;
  flex-wrap: wrap;
  padding-left: 130px;
}

.price {
  width: 144px;
  height: 144px;
  box-sizing: border-box;
  background-color: #fe7354;
  border-radius: 50%;
  position: absolute;
  bottom: 112px;
  left: 32px;
  z-index: 1;
}
.price p {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  color: #ffffff;
  text-align: center;
  margin-top: 30%;
}

.wrapper-offers__grid {
  position: relative;
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: min-content min-content min-content;
}
.wrapper-offers__grid p:nth-child(3) {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  color: #000000;
}
.wrapper-offers__grid p:nth-child(4) {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.section-adventures button {
  display: block;
  margin: 0 auto;
  border: 1px solid #fe7354;
  background-color: #ffffff;
  color: #fe7354;
  cursor: pointer;
  width: 170px;
  height: 48px;
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  margin-top: 68px;
  margin-bottom: 192px;
}
.section-adventures button:hover {
  border: 1px solid #fe7354;
  background-color: #fe7354;
  color: #ffffff;
  transition: 1s;
}

.section-adventures__text {
  padding: 72px 0 69px 135px;
}
.section-adventures__text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 33px;
}
.section-adventures__text h3 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #000000;
  width: 662px;
}

.catalog-adventures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.catalog-adventures li:nth-child(4) {
  background-color: #6347F9;
}
.catalog-adventures li:nth-child(4) p {
  color: #ffffff;
}
.catalog-adventures li:nth-last-child(-n+4) {
  background-color: #f5f6f8;
}

.catalog-adventures__card {
  width: 270px;
  height: 352px;
  background-color: rgba(254, 114, 84, 0.08);
  margin-right: 30px;
  margin-bottom: 32px;
}

.wrapper-text {
  padding: 24px 0 0 32px;
}
.wrapper-text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}
.wrapper-text p:nth-child(1) {
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 7px;
}
.wrapper-text p:nth-child(2) {
  font-size: 14px;
  line-height: 24px;
  color: #aaaaaa;
  margin-bottom: 18px;
}
.wrapper-text p:nth-child(3) {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  color: #333333;
  margin-bottom: 23px;
}

.function-crntener {
  display: flex;
  justify-content: center;
}

.function-crntener__img {
  position: relative;
}
.function-crntener__img img:nth-child(2) {
  position: absolute;
  top: 98px;
  left: 301px;
}

.function-crntener-filter {
  padding: 20px 0 0 230px;
}
.function-crntener-filter h3 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #333333;
  width: 400px;
  margin-bottom: 29px;
}
.function-crntener-filter p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  color: #333333;
}
.function-crntener-filter p:nth-child(1) {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.function-crntener-filter p:nth-child(3) {
  font-size: 20px;
  line-height: 32px;
  width: 470px;
  min-height: 74px;
}
.function-crntener-filter button {
  width: 154px;
  height: 48px;
  background-color: #fe7354;
  color: #ffffff;
  margin: 0;
  margin-top: 57px;
}
.function-crntener-filter button:hover {
  background-color: #ffffff;
  color: #fe7354;
}

.checkbox-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 37px;
}

.checkbox-flex__container {
  margin-right: 86px;
}

.checkbox {
  position: relative;
  margin-bottom: 32px;
}
.checkbox label:nth-child(2n+1) {
  margin-right: 103px;
}
.checkbox input, .checkbox label {
  cursor: pointer;
}

.checkbox__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  padding-left: 48px;
}

.checkbox__label::before {
  content: "";
  display: block;
  border: 1px solid #fe7354;
  border-radius: 50%;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkbox__label::after {
  content: "";
  display: block;
  background: url("../img-adventures/mark.svg") no-repeat;
  width: 24px;
  height: 20px;
  position: absolute;
  opacity: 0;
  top: 3px;
  left: 10px;
  z-index: 2;
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.container-reviews__text {
  margin-top: 203px;
}
.container-reviews__text h3 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -12px;
  width: 525px;
}
.container-reviews__text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 34px;
}

.container-comments {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.comments-card {
  width: 354px;
  min-height: 288px;
  margin-left: 46px;
  margin-top: 67px;
  background-color: #f5f6f8;
  position: relative;
}
.comments-card p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  padding: 52px 48px;
}
.comments-card img {
  position: absolute;
  top: -20px;
  left: 48px;
}
.comments-card div {
  border: 32px solid transparent;
  border-left: 32px solid #f5f6f8;
  border-top: 0 solid #f5f6f8;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.autor {
  margin-left: 25px;
  margin-top: 51px;
  display: flex;
}
.autor p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}
.autor p:nth-child(1) {
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.autor p:nth-child(2) {
  font-size: 14px;
  line-height: 24px;
  color: #aaaaaa;
}
.autor div {
  margin-left: 24px;
}

.section-blog {
  background-color: #112e4d;
  width: 100%;
  margin-top: 240px;
}
.section-blog p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}
.section-blog h3 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
}

.section-blog__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section-blog__flex button {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  width: 170px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.502972);
  background-color: #112e4d;
  color: #ffffff;
  margin-bottom: 69px;
  margin-right: 135px;
  cursor: pointer;
}
.section-blog__flex button:hover {
  border: 1px solid #112e4d;
  background-color: #ffffff;
  color: #112e4d;
  transition: 1s;
}

.blog-text {
  padding: 74px 0 69px 127px;
}
.blog-text p {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.502972);
  margin-bottom: 33px;
}
.blog-text h3 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #ffffff;
  width: 477px;
}

.section-blog__flex-travel {
  display: flex;
  justify-content: space-between;
  margin: 0 135px 89px;
}

.travel-block {
  width: 570px;
  min-height: 560px;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}

.travel-block__wrapper-text {
  display: grid;
  grid-template-columns: 570px;
  grid-template-rows: min-content min-content min-content 336px;
}
.travel-block__wrapper-text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  margin-left: 48px;
}
.travel-block__wrapper-text img {
  padding: 0;
}
.travel-block__wrapper-text p:nth-child(1) {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 13px;
  margin-top: 28px;
}
.travel-block__wrapper-text p:nth-child(2) {
  width: 370px;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 19px;
}
.travel-block__wrapper-text p:nth-child(3) {
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 38px;
}

.travel-block__wrapper-photo {
  width: 64px;
  height: 64px;
  background-color: #6347F9;
  border-radius: 50%;
  position: absolute;
  top: 48px;
  right: 48px;
}
.travel-block__wrapper-photo img {
  margin-top: 9px;
  margin-left: 9px;
}

.news-flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  width: 1170px;
  margin: 0 auto;
}
.news-flex h3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  color: #ffffff;
  margin-bottom: 5px;
}
.news-flex p {
  font-size: 16px;
  line-height: 32px;
  color: #aaaaaa;
}

.form-email {
  display: grid;
  grid-template-columns: 270px 170px;
  grid-column-gap: 30px;
  margin-bottom: 120px;
}
.form-email input {
  background-color: #ffffff;
  height: 48px;
  font-size: 16px;
  line-height: 32px;
  color: #aaaaaa;
  border: 0;
  padding-left: 16px;
}
.form-email input:hover {
  background-color: rgba(255, 255, 255, 0.502972);
  transition: 0.5s;
}
.form-email button {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #52aa7f;
  border: 0;
  cursor: pointer;
}
.form-email button:hover {
  color: #52aa7f;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  transition: 1s;
}

.block-contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 111px;
  border-bottom: 3px solid #ffffff;
}
.block-contact iframe {
  margin-bottom: 160px;
}

.block-contact__text {
  padding: 0 159px 0 122px;
  width: 454px;
  min-height: 592px;
}
.block-contact__text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 33px;
}
.block-contact__text p:nth-child(1) {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #aaaaaa;
}
.block-contact__text p:nth-child(3) {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}
.block-contact__text h3 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 29px;
}
.block-contact__text a {
  color: rgba(255, 255, 255, 0.502972);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  display: block;
  margin-bottom: 35px;
  margin-left: 35px;
  position: relative;
}
.block-contact__text a svg {
  position: absolute;
  top: 0;
  left: -35px;
  color: rgba(255, 255, 255, 0.502972);
  margin-right: 29px;
}
.block-contact__text a:hover {
  color: #ffffff;
  transition: 0.5s;
}
.block-contact__text a:hover svg {
  color: #ffffff;
  transition: 0.5s;
}

.footer {
  background-color: #0c1a29;
  padding: 57px 135px;
}
.footer h2 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  color: #ffffff;
  margin-right: 207px;
}

.navigation-footer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 79px;
}
.navigation-footer p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.502972);
  margin-right: 220px;
  margin-bottom: 16px;
  margin-top: 15px;
}
.navigation-footer a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.navigation-footer a:hover {
  color: rgba(255, 255, 255, 0.502972);
  transition: 0.5s;
}

.block-icon {
  display: flex;
}
.block-icon li {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.502972);
  border-radius: 50%;
  position: relative;
}
.block-icon svg {
  margin-right: 43px;
  position: absolute;
  top: 16px;
  left: 17px;
}

.footer__documentation {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333333;
}
.footer__documentation p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #aaaaaa;
  margin-top: 41px;
}
.footer__documentation a {
  display: inline-block;
  margin-top: 41px;
  margin-right: 85px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.footer__documentation a:hover {
  color: rgba(255, 255, 255, 0.502972);
  transition: 0.5s;
}
